<template>
  <div class="sp-main-body sp-nicescroll account">
    <div class="sp-loader" v-show="showLoading">
      <object type="image/svg+xml" data="/img/loader.svg">
        <img src="/img/loader.svg" />
      </object>
    </div>

    <div class="header">
      <h3 class="title-params">
        <i class="sp-icon-building"></i>
        <span>Account</span>
        <div class="right-side">
          <button class="btn btn-primary"
                  title="Update"
                  @click="validateInformationData"
                  :disabled="updateButton === 'Updating ...'">
            {{ updateButton }}
          </button>
        </div>
      </h3>
    </div>

    <div class="content-body">
      <informations></informations>
      <services></services>
      <websites></websites>
      <notifications ref="notification"
                     :sendInformationData="sendInformationData">
      </notifications>
    </div>
  </div>
</template>

<script>
import Informations from './Informations'
import Services from './Services'
import Websites from './Websites'
import Notifications from './Notifications'

export default {
  name: 'Account',
  data() {
    return {
      showLoading: false
    }
  },
  components: {
    Informations,
    Services,
    Websites,
    Notifications
  },
  computed: {
    ...Vuex.mapGetters(['updateButton'])
  },
  methods: {
    ...Vuex.mapActions(['saveInformationData']),
      validateInformationData() {
        this.$refs.notification.validateData();
      },
      sendInformationData() {
          this.saveInformationData();
      }
  }
}
</script>

<style lang="scss" scoped>
.form-group {
  margin-bottom: 15px;
  display: flex;
  label {
    margin-bottom: 0;
    vertical-align: middle;
    line-height: 35px;
  }
}
.top-form {
  input,
  select {
    margin-bottom: 15px;
  }
}
</style>


