<template>
  <div>
    <h3 class="title-params">Information</h3>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12 top-form">
              <label class="control-label">Hotel</label>
              <input type="text" class="form-control" name="hotel"
										 v-model="information.name"
										 placeholder="Enter the name of the hotel">

              <label class="control-label">Address</label>
              <gmap-place-input style="width: 100%" className="form-control"
																:defaultPlace="information.address.location"
																@place_changed="setPlace">
							</gmap-place-input>

              <label for="timezone-offset" class="control-label">Timezone</label>
              <select name="timezone_offset" id="timezone-offset" class="form-control"
											v-model="information.timezone">
                <option value="">Select a timezone</option>
                <option v-for="(timezone, index) in timezonesList" :key="index" :value="timezone">
									{{ timezone }}
								</option>
              </select>
            </div>
          </div>
        </div>
				<!--Avatar-->
        <div class="col-md-5">
          <div class="row">
            <div>
              <div role="form" class="form-horizontal">
                <div class="col-md-6 col-md-push-6">
                  <div class="avatarWrapper">
                    <div class="profile-avatar cursor-pointer">
                      <input type="file" id="avatar" name="avatar" class="form-control"
														 @change="onFileChange" ref="avatar">
                      <div class="uploadOverlay">
                        <i class="fa fa-cloud-upload"></i>
                      </div>
                      <div class="processingOverlay cursor-wait">
                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                      </div>
                      <div class="uploadCompleteOverlay cursor-wait">
                        <i class="fa fa-check"></i>
                      </div>
                      <img :src="information.photo_url || avatar" width="150"
                        class="img-circle">
                    </div>
                  </div>
                  <p class="max-file-size">Max file size: 3 Mb</p>
                  <div class="form-group text-center">
                    <div class="form-errors-image text-danger" v-for="(error, index) in photoErrors" :key="index">
										</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2">
          <label for="nb_rooms" class="control-label">Rooms</label>
          <input type="number" class="form-control" name="nb_rooms" id="nb_rooms" placeholder="Nb of rooms"
								 v-model="information.rooms">
        </div>
        <div class="col-md-2">
          <label for="stars" class="control-label">Stars</label>
          <select name="stars" id="stars" class="form-control" v-model="information.stars">
            <option value="0">Number of stars</option>
            <option value="1">1 Star</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option>
            <option value="6">Luxury</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="currency" class="control-label">Currency</label>
          <select name="currency" id="currency" class="form-control" v-model="information.currency">
            <option v-for="(currency, index) in currencies" :key="index" :value="currency.code">
							{{ currency.name }}
						</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="check-in" class="control-label">Check in</label>
          <input id="check-in" name="check-in" type="time" max="23:59" min="00:00" placeholder="12:00" class="form-control"
								 v-model="information.checkIn" >
        </div>
        <div class="col-md-2">
          <label for="check-out" class="control-label">Check out</label>
          <input id="check-out" name="check-out" type="time" max="23:59" min="00:00" placeholder="14:00" class="form-control"
								 v-model="information.checkOut" >
        </div>
      </div>
  </div>
</template>

<script>
import moment from 'moment-timezone'
import currenciesList from '../currencies'
export default {
  name: 'Informations',
  data() {
    return {
      timezonesList: [],
      photoErrors: [],
      currencies: currenciesList,
			avatar: 'https://www.gravatar.com/avatar/3ca89d5b8b9a29b4c290b6b145b80fb0.jpg?s=200&d=mm'
    }
  },
  mounted() {
    this.timezonesList = moment.tz.names()
  },

  computed: {
    ...Vuex.mapGetters(['information']),
    /**
     * Get current team
     *
     * @returns {object}
     */
    currentTeam() {
      return window.Spark.state.currentTeam
    },

    /**
     * Get the URL for updating the team photo.
     */
    urlForUpdate() {
      return `/settings/teams/${this.currentTeam.id}/photo`
    }
  },
  methods: {
    /**
     * Set place after address input changed
     *
     * @param {object} data
     */
    setPlace(data) {
      this.information.address.location = data.formatted_address
      this.information.address.latitude = data.geometry.location.lat()
      this.information.address.longitude = data.geometry.location.lng()
      this.setTimezone(this.information.address)
    },

    /**
     * Set the timezone based on a given address
     *
     * @param {object} place
     */
    setTimezone(place) {
      if (_.has(place, 'latitude') && _.has(place, 'longitude')) {
        axios
          .get(
            `https://maps.googleapis.com/maps/api/timezone/json?location=${
              place.latitude
            },${
              place.longitude
            }&timestamp=${moment().unix()}&key=AIzaSyDqM4FibSXfOtbObftkwOnLTOj6_yBhTYo`
          )
          .then(response => {
            this.information.timezone = response.data.timeZoneId
          })
          .catch(error => {
            console.log(error)
          })
      }
    },

    /**
     * Detect file changing
     *
     * @param {*} e
     */
    onFileChange(e) {
      let formData = new FormData()
      formData.append('id', '1')
      formData.append('photo', this.$refs.avatar.files[0])
      this.uploadImage(formData)
    },

    /**
     * Upload photo
     *
     * @param {FormData} formData
     */
    uploadImage(formData) {
      $('.processingOverlay').show()
      axios
        .post(this.urlForUpdate, formData)
        .then(response => {
          $('.processingOverlay').hide()
          $('.uploadCompleteOverlay')
            .show()
            .addClass('animated zoomIn')
          setTimeout(function() {
            $('.uploadCompleteOverlay').addClass('zoomOut')
          }, 2000)
          setTimeout(function() {
            $('.uploadCompleteOverlay')
              .removeClass('animated zoomIn zoomOut')
              .hide()
          }, 3000)
          this.currentTeam.photo_url = response.data.photo
          this.information.photo_url = response.data.photo
        })
        .catch(err => {
          $('.processingOverlay').hide()
          this.photoErrors = $.map(err.data.errors, function(error) {
            return error
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.form-group {
    margin-bottom: 15px;
    display: flex;
    label {
        margin-bottom: 0;
        vertical-align: middle;
        line-height: 35px;
    }
}
.top-form {
    input,
    select {
        margin-bottom: 15px;
    }
}
</style>


