<template>
  <div>
    <h3 class="title-params m-t-15">Notifications emails and phones</h3>
    <div class="row form-group" v-for="(notification, index) in notifications" :key="index">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4 label-column" v-if="notification.name === 'main'">
            {{ "Email" | capitalize }}
          </div>
          <div class="col-md-4 label-column" v-else>
            {{ notification.name | capitalize }}
          </div>
          <div class="col-md-8 top-form"
               v-if="notification.name === 'mainNotification' || notification.name === 'secondNotification' ">
            <input type="text" class="form-control" placeholder="Email address" v-model="notification.email">
          </div>
          <div class="col-md-8 top-form" v-else>
           <input type="text" class="form-control"
                  :name="notification.name + ' Email'"
                   v-model="notification.email"
                   placeholder="Email address"
                   v-validate="'required|email'">
            <span v-show="errors.has(notification.name + ' Email')" class="help is-danger">
              {{ errors.first(notification.name + ' Email') }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 top-form">
              <vue-tel-input v-model="notification.phone"
                             @onInput="onInput"
                             :updateClass="true"
                             :content="notification.phone"
                             placeholder="phone number">
              </vue-tel-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import VueTelInput from '../../shared/telInput/vue-tel-input';
  import VeeValidate from 'vee-validate'

  Vue.use(VeeValidate);
export default {
  name: 'Notifications',
  data() {
    return {}
  },
  props:[
      'sendInformationData'
  ],
  components: {
    VueTelInput,
  },
  filters: {
    /**
     * Capitalize & remove camel-case from string
     *
     *
     * @param {string} value
     * @returns {string}
     */
    capitalize(value) {
      value = value.replace(/([a-z\xE0-\xFF])([A-Z\xC0\xDF])/g, '$1 $2')
      value = value.toLowerCase()
      return _.capitalize(value)
    }
  },
  watch: {
    services: {
      handler: function (services) {
        this.updateNotificationObject(services)
      },
      deep: true
    },
  },
  mounted (){
    this.updateNotificationObject(this.services)
  },
  computed: {
    ...Vuex.mapGetters(['services', 'notifications'])
  },
  methods: {
    ...Vuex.mapActions(['incrementNotification', 'decrementNotification']),

    /**
     * Update notifications object
     *
     * @param {object} services
    */
    updateNotificationObject (services) {
      let _this = this;
      services.forEach(function(service) {
        if (service.active) {
          var newNotification = {
            name: service.name,
            email: '',
            phone: ''
          }
          _this.incrementNotification(newNotification)
        } else {
          _this.decrementNotification(service.name)
        }
      })
    },
    onInput({number, isValid, country}) {
        return isValid;
    },
    validateData() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.sendInformationData();
        }
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.form-group {
    margin-bottom: 15px;
    display: flex;
    label {
        margin-bottom: 0;
        vertical-align: middle;
        line-height: 35px;
    }
}
.label-column {
    line-height: 35px;
    font-size: 14px;
}
.m-t-15 {
  margin-top: 30px;
}
.is-danger {
  color: #ca4f46;
  display: block;
  padding-top: 5px;
}
</style>


