<template>
  <div>
    <h3 class="title-params">Services</h3>

      <div v-for="(service, index) in services" :key="index" :class="{'inline-block': true}">
        <div class="form-group">
          <div class="switch-block">
            <span class="switch-checkbox">
              <div class="onoffswitch toggle-script-status">
                <input v-model="service.active" type="checkbox" :data-id="service.id" name="onoffswitch" data-action="toggle-script-status" class="onoffswitch-checkbox toggle-script-status"
                  :id="'onoffswitch' + index">
                <label :for="'onoffswitch' + index" class="onoffswitch-label">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </span>
            <span class="switch-label">{{ service.name | capitalize }}</span>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'Services',
  data() {
    return {
      
    }
  },
  filters: {
    /**
     * Capitalize & remove camel-case from string
     *
     * @param {string} value
     * @returns {string}
     */
    capitalize(value) {
      value = value.replace(/([a-z\xE0-\xFF])([A-Z\xC0\xDF])/g, '$1 $2')
      value = value.toLowerCase()
      return _.capitalize(value)
    }
  },
  computed: {
    ...Vuex.mapGetters(['services'])
  }
}
</script>

<style lang="scss" scoped>
.form-group {
    margin-bottom: 15px;
    display: flex;
    label {
        margin-bottom: 0;
        vertical-align: middle;
        line-height: 35px;
    }
}
.inline-block {
    display: inline-block;
}
.top-form {
    input,
    select {
        margin-bottom: 15px;
    }
}

.switch-block {
    line-height: 20px;
    margin-right: 40px;
    .switch-checkbox {
        display: inline-block;
    }
    .switch-label {
        vertical-align: super;
        display: inline-block;
    }
}
</style>


