<template>
  <div>
    <h3 class="title-params">Websites</h3>
    <div class="row custom-row" v-for="(website, index) in websites" :key="index">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 top-form">
            <input type="text" class="form-control" name="hotel" placeholder="ex: https://myhotel.com" v-model="websites[index]">
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <button class="btn btn-default" @click="addWebsite(index)" v-if="index + 1 === websites.length">
          <i class="fa fa-plus"></i>
        </button>
				<button class="btn btn-danger btn-danger-outline" @click="removeWebsite(index)" v-if="index > 0">
					<i class="fa fa-trash"></i>
				</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Websites',
  data() {
    return {}
  },
  computed: {
    ...Vuex.mapGetters(['websites'])
  },
  methods: {
    /**
     * Add new website
     *
     * @param {number} index
     */
    addWebsite(index) {
      if (this.websites[index]) {
        this.websites.push('')
      }
    },
    /**
     * Remove website from table
     *
     * @param {number} index
     */
    removeWebsite(index) {
      if (this.websites.length) {
        this.websites.splice(index, 1)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-default {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
}
.custom-row {
    margin-bottom: 15px;
}
</style>


