@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.eot');
    src: url('../fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'), url('../fonts/Montserrat-BoldItalic.woff') format('woff'), url('../fonts/Montserrat-BoldItalic.ttf') format('truetype'), url('../fonts/Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBoldItalic.eot');
    src: url('../fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'), url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.eot');
    src: url('../fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Italic.woff2') format('woff2'), url('../fonts/Montserrat-Italic.woff') format('woff'), url('../fonts/Montserrat-Italic.ttf') format('truetype'), url('../fonts/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.eot');
    src: url('../fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'), url('../fonts/Montserrat-MediumItalic.woff') format('woff'), url('../fonts/Montserrat-MediumItalic.ttf') format('truetype'), url('../fonts/Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.eot');
    src: url('../fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-LightItalic.woff2') format('woff2'), url('../fonts/Montserrat-LightItalic.woff') format('woff'), url('../fonts/Montserrat-LightItalic.ttf') format('truetype'), url('../fonts/Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.eot');
    src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Black.woff2') format('woff2'), url('../fonts/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black.ttf') format('truetype'), url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.eot');
    src: url('../fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'), url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff'), url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype'), url('../fonts/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.eot');
    src: url('../fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'), url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'), url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype'), url('../fonts/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.eot');
    src: url('../fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'), url('../fonts/Montserrat-ThinItalic.woff') format('woff'), url('../fonts/Montserrat-ThinItalic.ttf') format('truetype'), url('../fonts/Montserrat-ThinItalic.svg#Montserrat-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Thin.woff2') format('woff2'), url('../fonts/Montserrat-Thin.woff') format('woff'), url('../fonts/Montserrat-Thin.ttf') format('truetype'), url('../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('../fonts/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Light.woff2') format('woff2'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BlackItalic.eot');
    src: url('../fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'), url('../fonts/Montserrat-BlackItalic.woff') format('woff'), url('../fonts/Montserrat-BlackItalic.ttf') format('truetype'), url('../fonts/Montserrat-BlackItalic.svg#Montserrat-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'), url('../fonts/Montserrat-ExtraLight.woff') format('woff'), url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'sp-quicktext';
    src: url('../fonts/sp-quicktext.eot?uhd2zd');
    src: url('../fonts/sp-quicktext.eot?uhd2zd#iefix') format('embedded-opentype'), url('../fonts/sp-quicktext.ttf?uhd2zd') format('truetype'), url('../fonts/sp-quicktext.woff?uhd2zd') format('woff'), url('../fonts/sp-quicktext.svg?uhd2zd#sp-quicktext') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="sp-icon-"],
[class*=" sp-icon-"] {
    font-family: 'sp-quicktext' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 30px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sp-icon-call-forward:before {
    content: "\e941";
}

.sp-icon-location:before {
    content: "\e947";
}

.sp-icon-device:before {
    content: "\e956";
}

.sp-icon-clock:before {
    content: "\e94e";
}

.sp-icon-email:before {
    content: "\e93f";
}

.sp-icon-mobile:before {
    content: "\e958";
}

.sp-icon-table:before {
    content: "\ea71";
}

.sp-icon-menu:before {
    content: "\e9bd";
}

.sp-icon-chatbot:before {
    content: "\e93e";
}

.sp-icon-entonnoir:before {
    content: "\e939";
}

.sp-icon-archive:before {
    content: "\e937";
}

.sp-icon-archive3:before {
    content: "\e93c";
}

.sp-icon-archive2:before {
    content: "\e93b";
}

.sp-icon-restore:before,
.sp-icon-etat-denvoi-10:before {
    content: "\e93a";
}

.sp-icon-edit-2:before {
    content: "\e936";
}

.sp-icon-answer:before {
    content: "\e935";
}

.sp-icon-circle:before {
    content: "\e934";
}

.sp-icon-minus:before {
    content: "\e932";
}

.sp-icon-plus:before {
    content: "\e933";
}

.sp-icon-info:before {
    content: "\e931";
}

.sp-icon-close:before {
    content: "\e92d";
}

.sp-icon-stats:before {
    content: "\e904";
}

.sp-icon-add-contact:before {
    content: "\e92e";
}

.sp-icon-arrow-left:before {
    content: "\e92f";
}

.sp-icon-arrow-right:before {
    content: "\e930";
}

.sp-icon-send-via-email:before {
    content: "\e92c";
}

.sp-icon-tag:before {
    content: "\e938";
}

.sp-icon-block:before {
    content: "\e901";
}

.sp-icon-check:before {
    content: "\e903";
}

.sp-icon-contact-list:before {
    content: "\e92a";
}

.sp-icon-directory:before {
    content: "\e92b";
}

.sp-icon-blacklist:before {
    content: "\e900";
}

.sp-icon-contact:before {
    content: "\e902";
}

.sp-icon-arrow:before {
    content: "\e905";
}

.sp-icon-billing:before {
    content: "\e906";
}

.sp-icon-contact-menu:before {
    content: "\e907";
}

.sp-icon-delete:before {
    content: "\e908";
}

.sp-icon-draft:before {
    content: "\e909";
}

.sp-icon-edit:before {
    content: "\e90a";
}

.sp-icon-etat-denvoi-1:before {
    content: "\e90b";
}

.sp-icon-etat-denvoi-6:before {
    content: "\e90c";
}

.sp-icon-etat-denvoi-5:before {
    content: "\e90d";
}

.sp-icon-etat-denvoi-0:before,
.sp-icon-etat-denvoi-7:before,
.sp-icon-etat-denvoi-8:before,
.sp-icon-etat-denvoi-9:before {
    content: "\e90e";
}

.sp-icon-etat-denvoi-2:before,
.sp-icon-etat-denvoi-3:before,
.sp-icon-etat-denvoi-4:before {
    content: "\e90f";
}

.sp-icon-facebook:before {
    content: "\e910";
}

.sp-icon-facebook2:before {
    content: "\e911";
}

.sp-icon-group:before {
    content: "\e912";
}

.sp-icon-inbox:before {
    content: "\e913";
}

.sp-icon-integration:before {
    content: "\e914";
}

.sp-icon-list:before {
    content: "\e915";
}

.sp-icon-live-chat:before {
    content: "\e916";
}

.sp-icon-message:before {
    content: "\e917";
}

.sp-icon-new-message:before {
    content: "\e918";
}

.sp-icon-no-contact:before {
    content: "\e919";
}

.sp-icon-no-list:before {
    content: "\e91a";
}

.sp-icon-no-message:before {
    content: "\e91b";
}

.sp-icon-notification:before {
    content: "\e91c";
}

.sp-icon-overview:before {
    content: "\e91d";
}

.sp-icon-phone:before {
    content: "\e91e";
}

.sp-icon-recherche:before {
    content: "\e91f";
}

.sp-icon-script:before {
    content: "\e920";
}

.sp-icon-send:before {
    content: "\e921";
}

.sp-icon-sent:before {
    content: "\e922";
}

.sp-icon-settings:before {
    content: "\e923";
}

.sp-icon-sms-received:before {
    content: "\e924";
}

.sp-icon-sms-sent:before {
    content: "\e925";
}

.sp-icon-trier:before {
    content: "\e926";
}

.sp-icon-x:before {
    content: "\e927";
}

.sp-icon-import:before {
    content: "\e928";
}

.sp-icon-logout:before {
    content: "\e929";
}

.sp-icon-building:before {
    content: "\e93f";
}