/* ==========================================================================
   Checkboxes & Radios
   ========================================================================== */

.control {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

.control__indicator {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    background: #bcbcbc;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control {
    &:hover input~.control__indicator {
        background: #ccc;
    }
    input {
        &:checked~.control__indicator {
            background: $primary-color;
        }
    }
    &:hover input:not([disabled]):checked~.control__indicator {
        background: #2061ad;
    }
    input {
        &:disabled~.control__indicator {
            background: #e6e6e6;
            opacity: 0.6;
            pointer-events: none;
        }
    }
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox {
    .control__indicator:after {
        left: 8px;
        top: 4px;
        width: 5px;
        height: 8px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    input:disabled~.control__indicator:after {
        border-color: #7b7b7b;
    }
}

.control--radio {
    .control__indicator:after {
        left: 7px;
        top: 7px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background: #fff;
    }
    input:disabled~.control__indicator:after {
        background: #7b7b7b;
    }
}

/* ==========================================================================
   Switch
   ========================================================================== */

.onoffswitch {
    position: relative;
    width: 40px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    padding: 0;
    line-height: 20px;
    border: 2px solid #bcbcbc;
    border-radius: 20px;
    background-color: #bcbcbc;
    transition: 0.4s;
    margin: 0;
    &:before {
        content: '';
        display: block;
        width: 18px;
        background: #ffffff;
        position: absolute;
        top: 1px;
        bottom: 0;
        right: 20px;
        border: 2px solid #ffffff;
        border-radius: 18px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        height: 18px;
    }
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
    background-color: #4f92e1;
    border-color: #4f92e1;
    &:before {
        border-color: #4f92e1;
        right: 0px;
    }
}

.switch-label {
    margin-left: 15px;
    font-size: 14px;
    line-height: 20px;
}

.switch-disabled {
    color: #bcbcbc;
}