/* ==================================================================

*   QuickText Media Queries

TOC :

1. screenwidth less than 768px (Mobile wide/Smaller Tablets)
2. screenwidth greater than 480px (Medium Screen Mobile)



/* Screens Resolution : height 430px
-------------------------------------------------------------------------- */

@media only screen and (max-height: 430px) {
    .short .sp-sidebar-footer.sp-with-img {
        opacity: 0;
    }
}

/* Screens Resolution : height 580px
-------------------------------------------------------------------------- */

@media only screen and (max-height: 580px) {
    .short .sp-sidebar-footer.sp-with-img,
    .short .sp-sidebar-footer>div {
        position: absolute;
    }
    .sp-sidebar-footer {
        position: relative;
    }
    .sp-sidebar-footer>div {
        position: relative;
    }
    .sp-sidebar-footer.sp-with-img>div {
        position: absolute;
    }
}

/* Screens Resolution : height 700px
-------------------------------------------------------------------------- */

@media only screen and (max-height: 700px) {
    .short .sp-sidebar-footer>div {
        opacity: 0;
    }
    /* --------------------------------- */
    /* 2. Reset Bootstrap
     ----------------------------------- */
    ul.navbar-nav li a:not(.organisation-name) {
        line-height: 70px;
    }
    .sp-sidebar-right {
        top: 70px;
        height: calc(100% - 70px);
    }
    .livechat-user-sidebar {
        top: 70px;
        height: calc(100% - 70px);
    }
    /* --------------------------------- */
    /* 4. Header Style
     ----------------------------------- */
    header.navbar-fixed-top {
        height: 70px;
    }
    /* --------------------------------- */
    /* 5. Sidebar Style
     ----------------------------------- */
    .sp-sidebar.sp-nicescroll {
        top: 70px;
        height: calc(100% - 70px);
    }
    ul.navbar-nav li a i {
        line-height: 70px;
    }
    /* --------------------------------- */
    /* 6. Main Body Style
     ----------------------------------- */
    main {
        top: 70px;
        height: calc(100% - 70px);
    }
    .sp-notfications-badge {
        top: 10px;
    }
}

/* Screens Resolution : 1420px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 1440px) {
    .sp-translations>span {
        display: none;
    }
}

/* Screens Resolution : 1360px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 1360px) {
    .sp-translations>span {
        display: none;
    }
}

/* Screens Resolution : 1330px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 1300px) {
    /*
        .sp-panel-chat .sp-message-entry.send-conversation {
            height: 310px;
        }
        .sp-panel-chat .sp-box-chat.send-conversation {
            height: calc(100% - 390px);
        }
        .sp-translations {
            display: none;
        }
    */
}

/* Screens Resolution : 1220px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 1220px) {
    .livechat-user .sp-link-div a.sp-expand-right {
        display: inline-block;
    }
    .short-mob-right .livechat-user-sidebar {
        right: 0;
    }
    .sp-panel-chat.livechat-user {
        margin-right: 0;
    }
    .sp-close-right {
        display: block;
        top: 5px;
    }
    .sp-sidebar-right {
        right: -100%;
    }
    .short-mob-right .sp-sidebar-right {
        right: 0;
    }
    .sp-panel-chat.sp-compose {
        margin-right: 0;
    }
    .sp-compose .sp-link-div a.sp-expand-right {
        display: inline-block;
    }
    .sp-translations {
        display: none;
    }
}

/* Screens Resolution : 1199px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 1199px) {
    .sp-panel-relative .sp-message-entry .sp-message-write {
        padding: 0;
    }
    .sp-panel-relative .sp-message-entry-navtabs {
        margin-right: 0;
        margin-left: 0;
    }
    .sp-panel-relative .sp-textarea-length {
        right: 0;
    }
    .sp-panel-relative .sp-message-entry .tab-pane .sp-nicescroll {
        margin-left: -15px;
        margin-right: -15px;
    }
    .sp-panel-relative .sp-template-add {
        right: 0px;
    }
}

/* Screens Resolution : 1170px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 1170px) {
    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn {
        display: none;
    }
    .livechat-user-sidebar {
        top: 70px;
        height: calc(100% - 70px);
    }
    /* --------------------------------- */
    /* 2. Reset Bootstrap
     ----------------------------------- */
    ul.navbar-nav li a:not(.organisation-name) {
        line-height: 70px;
    }
    ul.navbar-nav li.user-details {
        padding: 5px 0 5px 62px;
    }
    .sp-sidebar-right {
        top: 70px;
        height: calc(100% - 70px);
    }
    /* --------------------------------- */
    /* 4. Header Style
     ----------------------------------- */
    header.navbar-fixed-top {
        height: 70px;
    }
    ul.navbar-nav li.user-details {
        font-size: 13px;
        line-height: 1.5;
    }
    /* --------------------------------- */
    /* 5. Sidebar Style
     ----------------------------------- */
    .sp-sidebar.sp-nicescroll {
        top: 70px;
        height: calc(100% - 70px);
    }
    ul.navbar-nav li a i {
        line-height: 70px;
    }
    /* --------------------------------- */
    /* 6. Main Body Style
     ----------------------------------- */
    main {
        top: 70px;
        height: calc(100% - 70px);
    }
    .sp-notfications-badge {
        top: 10px;
    }
}

/* Screens Resolution : 1100px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 1100px) {
    .sp-message-later .hidden-xs {
        display: none;
    }
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 992px) {
    ul.navbar-nav li {
        width: 9%;
    }
    ul.navbar-nav li.user-details {
        width: 46%;
    }
    .sp-notfications-badge {
        margin-left: 5px;
    }
    .sp-panel-chat .sp-message-entry .message-write {
        padding: 0 15px;
    }
    .sp-textarea-length {
        right: 20px;
    }
    .sp-panel-chat .sp-message-entry .tab-pane .sp-nicescroll {
        padding: 0;
    }
    .sp-message-entry-navtabs {
        margin-left: 15px;
        margin-right: 15px;
        /*overflow: hidden;*/
    }
    .sp-template-add {
        right: 15px;
    }
    .sp-panel-chat .tab-content .template-title {
        margin-top: 10px;
    }
    .sp-message-entry .sp-message-write {
        padding: 0 15px;
    }
    /*
        .short-mob-right .sp-sidebar-right {
            right:-320px;
        }
        */
    .short-mob-right .sp-panel-chat {
        margin-right: 0px;
    }
    .padding-right-md-0 {
        padding-right: 0;
    }
    .padding-lr-md-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .profile-photo-preview {
        position: relative;
        top: 0;
    }
    /********** List Dsicussion *****************/
    .sp-link-div a.sp-expand {
        display: inline-block;
    }
    .short-mob main .chatGrid .sp-sidebar-secondary {
        left: -100%;
        /******/
        width: 100%;
    }
    .sp-panel-chat {
        margin-left: 0;
    }
    .short-mob .sp-panel-chat {
        margin-left: 0px;
    }
    /********** Fin List Dsicussion *****************/
}

/* Screens Resolution : 880px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 880px) {
    /* --------------------------------- */
    /* 4. Header Style
     ----------------------------------- */
    ul.navbar-nav li {
        width: 8%;
    }
    ul.navbar-nav li.user-details {
        width: 52%;
    }
    ul.navbar-nav li a i {
        font-size: 42px;
    }
    .sp-notfications-badge {
        margin-left: 0;
    }
    .content-body {
        margin: 15px !important;
    }
    .sp-panel-chat .sp-message-entry .tab-pane .sp-nicescroll,
    .sp-panel-relative .sp-message-entry .tab-pane .sp-nicescroll {
        padding: 0px;
    }
    .sp-panel-chat .sp-message-entry .message-write {
        padding: 0 15px;
    }
    .sp-template-add {
        right: 15px;
    }
}

/* Screens Resolution : 768px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }
    /* --------------------------------- */
    /* 2. Reset Bootstrap
     ----------------------------------- */
    .navbar-brand {
        width: 70px;
        background-position: 3px center;
        /*10px 5px/*
       /* background-size: auto 90%;*/
    }
    .navbar-collapse {
        margin-left: 70px;
    }
    .sp-notfications-badge {
        top: 10px;
    }
    /* --------------------------------- */
    /* 4. Header Style
     ----------------------------------- */
    ul.navbar-nav li.pull-left {
        display: none;
    }
    ul.navbar-nav li {
        width: 16.66%;
        max-width: 70px;
    }
    ul.navbar-nav li.user-details {
        width: 16.66%;
        max-width: 70px;
        padding: 0;
    }
    ul.navbar-nav li.user-details .sp-user {
        left: 50%;
        height: 32px;
        width: 32px;
        margin-top: -16px;
        margin-left: -16px;
    }
    ul.navbar-nav li a {
        line-height: 70px;
    }
    .form-inline .form-control {
        margin-right: 0px;
        margin-bottom: 10px;
        display: inline-block;
    }
    /* --------------------------------- */
    /* 5. Sidebar Style
     ----------------------------------- */
    .sp-sidebar.sp-nicescroll {
        width: 70px;
        top: 70px;
        height: calc(100% - 70px);
    }
    ul.sidebar-nav li a {
        padding-left: 10px;
    }
    ul.navbar-nav li a i {
        line-height: 70px;
    }
    .sp-btn-icon {
        padding-right: 25px;
        padding-left: 25px;
    }
    .sp-btn-icon i {
        left: 10px;
    }
    .sp-btn-icon span {
        display: none;
        /*opacity:0;*/
    }
    ul.sidebar-nav li .sidebar-badge {
        top: 0px;
        right: 5px;
        font-size: 12px;
        line-height: 16px;
        background-color: #5093e1;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
    ul.sidebar-nav li .sidebar-badge.sp-null {
        opacity: 0;
    }
    ul.sidebar-nav li .link-title {
        /*display: none;*/
        opacity: 0;
    }
    .sp-sidebar-footer>img {
        bottom: 5px;
        left: 5px;
        width: 60px;
    }
    .sp-sidebar-footer>div {
        transform: rotate(-90deg);
        bottom: 90px;
    }
    .sp-sidebar-footer>div p {
        white-space: nowrap;
    }
    span.indicator {
        top: 25px !important;
        left: 37px !important;
    }
    /* --------------------------------- */
    /* 6. Main Body Style
     ----------------------------------- */
    main {
        top: 70px;
        left: 70px;
        width: calc(100% - 70px);
        height: calc(100% - 70px);
    }
    .sp-panel-chat .sp-chat-message {
        overflow: hidden;
    }
    .sp-sidebar h2.sidebar-title {
        padding-left: 10px;
    }
    .sp-sidebar h2.sidebar-title span {
        display: none;
    }
    .sp-btn-i {
        padding-left: 22px;
    }
    ul.sp-list-line li .sp-list-content .sp-person-preview {
        white-space: normal;
        text-overflow: clip;
    }
    .left-col .drop-zone {
        margin: 6vh 20px 6vh 20px;
    }
    .card-margin {
        -webkit-justify-content: center;
        justify-content: center;
    }
    .control-label {
        padding-top: 10px;
    }
    label {
        margin-bottom: 5px;
    }
    .sp-panel-chat .sp-message-entry .tab-pane .sp-nicescroll,
    .sp-panel-relative .sp-message-entry .tab-pane .sp-nicescroll {
        padding: 0;
    }
    .title-params {
        margin: 10px 0;
    }
    .user-details .hidden-xs {
        display: none;
    }
    .livechat-user-sidebar {
        top: 70px;
        height: calc(100% - 70px);
    }
    .templates-messages .col-sm-6 {
        width: 100%;
    }
    /* --------------------------------- */
    /* 7. Navbar Style
     ----------------------------------- */
    .sp-sidebar-footer>img {
        bottom: 5px;
        left: 5px;
        width: 60px;
        position: absolute;
    }
    .team-navbar-list.left {
        display: none;
    }
    .team-navbar-list.right {
        width: 100%;
    }
    .sp-sidebar-footer>div {
        transform: rotate(-90deg);
        bottom: 90px;
    }
    .sp-sidebar-footer>div p {
        white-space: nowrap;
    }
    ul.sidebar-nav li a {
        padding-left: 5px;
    }
    ul.sidebar-nav li .sidebar-badge {
        top: 5px;
        right: 10px;
        font-size: 12px;
        background-color: #5093e1;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
    ul.sidebar-nav li .sidebar-badge.sp-null {
        opacity: 0;
    }
    ul.sidebar-nav li .link-title {
        /*display: none;*/
        opacity: 0;
    }
    main {
        left: 70px;
        width: calc(100% - 70px);
    }
    /**** Start left side bar switch input responsive ******/
    .main .sp-icon-chatbot,
    .main .sp-icon-live-chat {
        top: 5px;
    }
    .main .nav-item.livechat>span.link-title {
        display: none;
    }
    .main .switch-pos {
        right: -5px;
    }
    .main input:checked+.slider:before {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
    .main .switch {
        width: 25px;
        height: 15px;
    }
    .main .switch .slider:before {
        position: absolute;
        content: "";
        height: 11px;
        width: 11px;
        left: 1px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .sp-sidebar-footer {
        width: 100%
    }
}

/* Screens Resolution : 690px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 690px) {
    .selected-contacts {
        max-height: 75px;
    }
    .sp-template-add {
        top: -45px;
    }
    .sp-actions a i {
        font-size: 26px;
    }
    .sp-panel-chat .sp-message-entry {
        height: 220px;
    }
    .sp-panel-chat .sp-box-chat {
        height: calc(100% - 270px);
    }
    .sp-panel-chat .sp-header-chat {
        height: 50px;
        padding: 0px 35px;
    }
    .sp-link-div {
        top: 5px;
    }
    .sp-translations {
        display: none;
    }
    .sp-send-block>div {
        margin-bottom: 0px;
    }
    .sp-icon-trier:before {
        left: 0px;
    }
    .sp-actions i {
        position: relative;
        left: -2.5px;
        top: -2px;
        font-size: 24px;
    }
    .contacts-container .sp-top {
        display: none;
    }
    main .contacts-container .contacts-list {
        width: calc(100% - 30px);
        height: 100%;
    }
    main #sp-contacts,
    main #sp-lists-contacts {
        height: 100%;
    }
    .header .title-params {
        padding-left: 45px;
    }
    .header .title-params>i {
        left: 0;
    }
    .card-margin .card {
        margin: 15px 0;
    }
    .containt-g-pms .form-inline .select2-container {
        width: 100% !important;
        margin-bottom: 15px !important;
        margin-right: 0;
    }
    .sp-panel-relative .sp-message-entry .sp-message-write {
        padding: 0;
    }
    .sp-panel-relative .sp-message-entry-navtabs {
        margin: 5px 0px;
    }
    .sp-panel-relative .sp-template-add {
        right: -5px;
    }
    .modal-header {
        min-height: 30px;
        padding: 15px 10px;
    }
    .modal-body {
        padding: 10px;
    }
    h4 {
        margin: 10px 0;
    }
    /*
    .nav-tabs>li>a {
        font-size: 12px;
        padding-top: 1px;
        line-height: 16px;
    }
    .dropdown-menu>li>a {
        padding: 3px 10px;
        font-size: 12px;
    }
    */
    .sp-textarea-length {
        position: absolute;
        top: 105px;
        left: 15px;
    }
    .sp-message-write textarea {
        font-size: 11px;
        padding: 5px;
        height: 100px;
    }
    #add-template .sp-message-write textarea {
        height: 60px;
    }
    .tab-pane.messages-templates {
        padding-top: 0px;
    }
    .sp-template-add span.sp-icon {
        top: 2px;
        line-height: 19px;
        height: 22px;
        width: 22px;
    }
    .contacts-container ul.sp-list-line li .sp-list-content .sp-actions {
        width: 110px;
        position: absolute;
        right: 2px;
        top: 13px;
    }
    .im-contact {
        /*A vérifier*/
        position: relative;
        height: 32px;
        top: -10px;
        width: 22px;
        left: 0px;
    }
    .contacts-container ul.sp-list-line li .sp-list-content .sp-actions a {
        margin: 0 0 2px 0;
    }
    ul.sp-list-line li .sp-list-content .sp-phone-number {
        width: calc(100% - 30px);
        font-size: 11px;
    }
    #sp-lists-contacts ul.sp-list-line li .sp-list-content .sp-phone-number {
        width: calc(100% - 30px);
    }
    .templates-messages .message-template {
        padding: 25px 5px 5px;
    }
    .sp-panel-chat .tab-content .template-title {
        margin-top: 0;
        margin-bottom: 5px;
    }
    .templates-messages .template-title {
        font-size: 13px;
    }
    .sp-message-entry-navtabs {
        margin: 10px 15px;
        /*height:20px;*/
    }
    .contact-list.sp-nicescroll-2 {
        padding-right: 15px;
    }
    .sp-panel-chat .tab-content {
        height: calc(100% - 60px);
    }
    /*
    .sp-top {
        padding: 10px;
        min-height: 42px;
    }
    */
    .sp-top.sp-form-inline>div:first-child {
        max-width: calc(100% - 30px);
    }
    .dropdown-menu-right {
        right: 5px;
    }
    .sp-actions a {
        line-height: 22px;
        height: 22px;
        width: 22px;
    }
    .sp-actions.sp-xs-actions a i {
        font-size: 28px;
    }
    /*
    ul.sp-list-line li .sp-list-content .sp-actions.sp-absolute {
        top: 2px;
        right: 2px;
    }
    */
    ul.navbar-nav li a i {
        font-size: 36px;
    }
    .sp-panel-chat .sp-translations>span {
        display: none;
    }
    .sp-message-later span {
        margin-bottom: 15px;
    }
    .intl-tel-input .country-list .flag-box,
    .intl-tel-input .country-list .country-name {
        line-height: 20px;
    }
    .sp-panel-chat .sp-header-chat .sp-contact-name {
        font-size: 13px;
    }
    .sp-panel-chat .sp-header-chat .sp-contact-phone {
        font-size: 12px;
    }
    ul.sp-list-line li .sp-list-content {
        padding: 5px 5px 5px 30px;
    }
    ul.sp-list-line li .sp-checkbox {
        left: 7px;
        top: 11px;
    }
    ul.sp-list-line li .sp-list-content .sp-img-name,
    .listDisplay ul.sp-list-line li .sp-list-content .sp-img-name {
        width: 155px;
        /*235px*/
    }
    ul.sp-list-line li .sp-list-content .sp-actions.sp-absolute {
        display: none;
    }
    ul.sp-list-line li .sp-list-content .sp-person-name {
        font-size: 13px;
        width: calc(100% - 45px);
    }
    .chatGrid .avatar,
    .listDisplay .avatar {
        margin-bottom: 5px;
    }
    .sp-panel-chat .conversation-time span {
        font-size: 11px;
        width: 170px;
    }
    .sp-panel-chat .conversation-time {
        margin-bottom: 5px;
    }
    ul.sp-list-line li .sp-list-content .sp-person-img {
        margin-top: 0;
    }
    ul.sp-list-line li .sp-list-content .sp-person-name .notification-count,
    .chatGrid ul.sp-list-line li .sp-list-content .sp-person-name .notification-count {
        margin-top: 0;
        position: absolute;
        top: 38px;
        right: -45px;
    }
    .sp-list-nav {
        position: absolute;
        width: 30px;
        height: 100%;
        right: 0px;
        top: 0px;
        z-index: 2;
        padding: 5px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .sp-list-nav a {
        font-size: 11px;
        padding-top: 5px;
        width: 100%;
        height: calc(100% / 30);
        line-height: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .sp-list-nav a.all {
        margin-top: 10px;
        margin-left: 0;
    }
    main .sp-list-line.sp-nicescroll-2 {
        height: 100%;
        width: calc(100% - 15px);
        padding-right: 15px;
    }
    ul.sp-list-line li .sp-list-content .sp-contact-name {
        width: calc(100% - 30px);
        font-size: 12px;
        line-height: 18px;
    }
    ul.sp-list-line li .sp-list-content .sp-contact-name a {
        font-size: 12px;
    }
    .easy-autocomplete {
        width: 80% !important;
    }
    .add-contact-form input[type=text]:first-child {
        border-right: solid 1px #ccc !important;
        border-bottom: none;
        /*margin-bottom: 5px;*/
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .easy-autocomplete #phone-number {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .add-contact-form input[type=text]:first-child.contact-phone-error-field {
        border-right-color: red !important;
        border-bottom: none !important;
    }
    .add-contact-form input[type=text] {
        width: 100% !important;
    }
    #add-contact-btn {
        position: absolute;
        right: 23px;
        top: 36px;
        font-size: 24px;
        line-height: 30px;
    }
    .sp-sidebar-right .nav-tabs {
        height: 46px;
    }
    /*
    .sp-sidebar-right .filter-block {
        height: 50px;
    }
    */
    .contact-letters {
        top: 50px;
    }
    .sp-sidebar-right .contact-list {
        height: calc(100vh - 166px);
    }
    .reset-selection {
        position: absolute;
        top: 75px;
        right: 0px;
    }
}

/* Screens Resolution : 460px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 460px) {
    /******* Block Discussion ****/
    .sp-panel-chat .bubble {
        max-width: 100%;
        width: 100%;
        margin-top: 15px;
    }
    .sp-panel-chat .bubble:before {
        top: -5px;
    }
    .sp-panel-chat .bubble.you:before {
        left: 15px;
    }
    .sp-panel-chat .bubble.me:before {
        right: 15px;
    }
    .sp-panel-chat .sp-translations>span {
        display: none;
    }
    .sp-panel-chat .bubble {
        max-width: 100%;
        margin-top: 15px;
    }
    /******* Block Discussion ****/
    .sp-message-later {
        display: none !important;
    }
    .sp-link-div a:last-child {
        margin-right: 5px;
    }
}

/* Screens Resolution : 390px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 390px) {
    .sp-sidebar-right {
        width: 100%;
    }
}

/* Screens Resolution : 320px
-------------------------------------------------------------------------- */

@media only screen and (max-width: 320px) {
    .btn {
        font-size: 14px;
        min-width: 26px;
        min-height: 26px;
    }
    .sp-message-entry-navtabs {
        margin: 5px 15px
    }
    .nav-tabs>li>a {
        border-bottom: 2px solid transparent !important;
    }
    .nav-tabs>li>a:hover,
    .nav-tabs>li>a:focus {
        border-bottom: 2px solid transparent !important;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        border-bottom: 2px solid #5093e1 !important;
    }
    .sp-template-add {
        top: -40px;
    }
    .sp-textarea-length {
        font-size: 12px;
    }
    .sp-panel-chat .sp-message-entry {
        height: 205px;
    }
    .sp-panel-chat .tab-content {
        height: calc(100% - 50px);
    }
    .sp-panel-chat .sp-box-chat {
        height: calc(100% - 255px);
    }
}

/* ================================================================== */

/* Screens Resolution : height 700px and width 768px
-------------------------------------------------------------------------- */

@media only screen and (max-height: 700px) and (max-width: 768px) {
    .sp-sidebar-footer>div {
        opacity: 0;
    }
}
